src/main/mule/worldapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4eb900f-a13a-4cbb-bb76-c786496b9ad4" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e069663c-77cb-47f5-84c6-f521f1f86152" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="worldapiFlow" doc:id="0aa02dbb-b689-4b4d-a2e9-a2d63a0b5a2f" tracking:enable-default-events="true">
		<http:listener doc:name="Listener" doc:id="b3c6cce7-f7c7-4913-864d-8d5cb411f7cc" config-ref="HTTP_Listener_config" path="/{area}/{location}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="3b3a4a3a-ad71-4fc5-a0b1-a24218a48448" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="area" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.area]]></ee:set-variable>
				<ee:set-variable variableName="location" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.location]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="c235e9d1-6fd3-4612-af92-434034a063ed" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"area" : vars.area,
	"location" : vars.location
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="0e50fe1a-fe5b-4d2c-9fac-b4859f018c9d" message="#[payload]"/>
	</flow>
</mule>
